<div class="container">
  <div class="container-fluid well span6">
    <div class="row-fluid">
      <%= render 'shared/programs_list', programs: @programs_list, list_title: 'Search Result' %>
    </div>
  </div>
</div>