<% provide(:title, @program.name) %>

<div class="container">
  <div class="container-fluid well span6">
    <div class="row-fluid">

      <div>
        <div id="leftcolumn">
          <div>
            <%= image_tag(@program.small_image) %>
          </div><br>
          <div>
            <%= form_for @program do |f| %>
            <% if is_current_user_favorite?(@program) %>
            <%= link_to "REMOVE", program_path(id: @program.id), method: "delete", class: "btn btn-danger" %>
            <% else %>
            <%= f.submit "ADD", class: "btn btn-success" %>
            <% end %>
            <% end %>
          </div>
        </div>

        <div id="rightcolumn">
          <p>
            <strong>Title:</strong>
            <span><%= @program.name %> (<%= @program.release_year %>)</span>
          </p>
          <p>
            <strong>Score:</strong>
            <span><%= @program.vote_average %></span>
          </p>
          <p>
            <strong>Creators:</strong>
            <span><%= @program.creators %></span>
          </p>
          <p>
            <strong>Country:</strong>
            <span><%= @program.countries %></span>
          </p>
          <p>
            <strong>Description:</strong>
            <span><%= @program.overview %></span>
          </p>
        </div>

        <!-- Needed because other elements inside ProfilePage have floats -->
        <div style="clear:both"></div><br>

        <div class="panel-group" id="accordion">

        <% @program.seasons.each do |season| %>
        <% s_title = season["season_number"]==0 ? "Season Specials" : "Season "+season["season_number"].to_s %>
        <% _href = "collapse" + season["season_number"].to_s  %>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#<%= _href %>">
                  <%= s_title %>
                </a>
              </h4>
            </div>
            <div id="<%= _href %>" class="panel-collapse collapse">
              <div class="panel-body">
                TODO: EPISODES
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>