<% provide(:title, 'Sign up') %>

<div class="container">
  <div class="row">
  <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="form-signin-heading">Sign Up</h2>

      <%= form_for(@user, :html => { :class => "form-signin"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>
        <table>
          <tr>
            <td>
              <%= f.label :name %>
              <%= f.text_field :name , class: "form-control" %>
            </td>
            <td></td>
            <td>
              <%= f.label :surname %>
              <%= f.text_field :surname, class: "form-control" %>
            </td>
          </tr>
        </table>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </p>
      <p>
        <%= f.label :birthday %>
        <%= f.date_field :birthday, class: "form-control" %>
      </p>
      <p><span>
        <%= f.radio_button :gender, 'MALE' %> Male
        </span>
        <span>
        <%= f.radio_button :gender, 'FEMALE' %> Female
        </span>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </p>
      <p>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </p>
      <p>
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
      </p>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
