<% provide(:title, @user.name) %>

<div class="container">
  <div class="container-fluid well span6">
    <div class="row-fluid">
      <table>
        <tr>
          <td>
            <div class="span2" >
              <%= gravatar_for @user %>
            </div>
          </td>
          <td>
            <div class="span8">
              <h3> <%= @user.name %> <%= @user.surname %></h3>
              <h6> Member since: <%= @user.created_at.to_date %></h6>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="span12">
      <hr>

     <%= render 'shared/programs_list', programs: @user.programs, list_title: 'My Shows' %>

    </div>
  </div>
</div>