<table class="table table-striped table-bordered table-condensed">
  <h3><%= list_title %></h3>
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Year</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% programs.each do |p| %>
    <tr>
      <td><%= image_tag(p.small_image) %></td>
      <td><%= p.name %></td>
      <td><%= p.release_year %></td>
      <td><%= p.overview %></td>
      <td><%= link_to 'View',
        program_details_path(tmdb_id: p.tmdb_id), class: "btn btn-info" %></td>
    </tr>
    <% end %>
  </tbody>
</table>