@import "bootstrap";

body {
  padding-top: 80px;
}

/* Customize Jumbotron */

.jumbotron {
  text-align: center;
  background-color: transparent;
}

/* Error messages */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

#leftcolumn { width: 200px; float: left}
#rightcolumn { width: 900px; float: right}