// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.episode_list {
  padding-top: 4px;
}

ul.episode_list li {
  padding-bottom: 20px;
}

ul.episode_list li a.episode_poster {
  margin: 0 14px 0 0;
  float: left;
}

ul.episode_list li div.info {
  float: left;
  width: 600px;
}

ul.episode_list li div.info {
  float: left;
  width: 600px;
}