<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <%= link_to "SERIES TRACKER", root_path, id: "logo", class: "navbar-brand" %>
        </div>

        <% if !signed_in? %>
            <%= render 'layouts/login' %>
        <% else %>
            <%= form_tag("/search", method: "get", class: "navbar-form navbar-left") do %>
                <div class="form-group">
                <%= text_field_tag(:q, nil, placeholder: "Search...", class: "form-control") %>
                 </div>
                <%= submit_tag("Search", class: "btn btn-default") %>
            <% end %>

            <div class="collapse navbar-collapse bs-js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation"><%= link_to "Profile", current_user %></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><%= link_to "Sign out", signout_path, method: "delete" %></li>
                        </ul>
                    </li>
                </ul>
            </div>
        <% end %>

</div>