<%= form_for( :session, url: '/signin', :html => { :class => "navbar-form navbar-right"} ) do |f| %>
<div class="form-group">
  <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
</div>
<div class="form-group">
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
</div>
<%= f.submit "Sign in", class: "btn btn-success" %>
<% end %>