<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="public/favicon.png">

  <!-- Bootstrap core JavaScript -->
  <%= javascript_include_tag "application" %>

  <title>
    Series Tracker
  </title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <%= render 'layouts/header' %>

  <% if signed_in? %>
    <div id="wrapper">
      <!-- Page content -->
      <div id="page-content-wrapper">

        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="container">
            <%= render 'layouts/messages' %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
          <hr>
          <div class="container">
            <%= render 'layouts/footer' %>
          </div> <!-- /container -->
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
    <hr>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  <% end %>

</body>
</html>

